

body {
  background-image: url('https://s3.amazonaws.com/fresh-dev-assets/events/newsletter_images/537/f20/8a-/normal/Disney_-_Newsletter.png?1535662419');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 25%;
  background-color: white;
    
  }
  
  h1 {
    text-align: center;
    color: black;
    margin-left: 20px;
   
  }

  #question {
    width:40%;
    padding: 40px;
    border: 3px solid rgb(4, 0, 0);
    background-color: rgb(2, 0, 0);
    color: rgb(250, 248, 248);
    font-size: 28px;
    margin: 10px auto;
  }

  #answer {
    width: 50%;
    margin: 10px auto;
    color: rgb(250, 246, 246);
    border: 3px solid rgb(2, 0, 0);
    background-color: rgb(2, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }

  #answer ul li {
    height: 40px;
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
  }

#scores{
    display: flex;
    width:50%;
    justify-content: center;
    margin: 10px auto;
    background-color: ;
    border: 3px ;
    color: Red;
}

#player1, #player2{
  text-align: center;
  width: 50%;
}

